<!--advanced.html-->

{{ template "header.html" .}}

<div class="container" style="margin-top:30px">

<h1>Advanced Course</h1>
<br>
<h2>Coming Soon</h2>
<p>This course will help you to work towards getting your full licence, and become the ultimate ham radio warrior</p>
<p>Until it is ready, perhaps considor trying out the existing resources below:</p>
<br>

<a href="http://www.brats-qth.org/training/advanced/index.htm" target="_blank">
<img src="http://www.brats-qth.org/training/graphics/bratslogo2.gif" height="100px">
</a>
<p>Bredhurst Receiving and Transmitting Society</p>
<br>

<a href="http://www.g0mwt.org.uk/training/courses/advanced.htm" target="_blank">
<img src="http://www.g0mwt.org.uk/training/courses/images/web-logo3.jpg" height="100px">
</a>
<p>Chelmsford ARS</p>


</div>

<br><br>
    
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}