<!--index.html-->

{{ template "header.html" .}}

<br><br>

<div class="container" style="margin-top:30px">

<div class="panel-group" id="faqAccordion">
        <div class="panel panel-default "> 
				<h4 id="faqtitle">Who Runs RadioTutor?</h4>
				<p>Radio Tutor is run by Peter Barnes, MØSWN and Ben Chalmers, MØNBA</p>
        </div>
        <div class="panel panel-default ">
				<h4 id="faqtitle">How is RadioTutor funded?</h4>
                <p>We are funded by donations, but are looking for sponsors to provide a reliable source of income</p>
        </div>
        <div class="panel panel-default ">
            <h4 id="faqtitle">What happened to Hamtests?</h4>
            <p>The HamTests admins decided to close down the site in September 2018. When the site closed, they released their
			question bank to the public, which is what our questions at RadioTutor are based on. For more information from the 
			Hamtests team, check out
			their website at <a href="http://www.hamtests.co.uk/" target="blank">hamtests.co.uk</a></p>
        </div>
        <div class="panel panel-default ">
            <h4 id="faqtitle">Can I help?</h4>
            <p>Sure, if you're a tutor, potential sponsor, or would like to help in any way, please feel free to <a href="/contact">get in touch</a></p>
        </div> 
		<div class="panel panel-default ">
            <h4 id="faqtitle">Is RadioTutor open source?</h4>
            <p>Yes! If you'd like to check out the code for this site, or help with its development, check out our <a href="https://github.com/pe5er/radiotutor" target="blank">github repository</a></p>
        </div> 
    </div>
</div>

<style>
#faqtitle {
color: rgb(66, 99, 255);
}
</style>

<br><br>
  
{{ template "footer.html" .}}
