<!--header.html-->

<!doctype html>
<html lang="en">
  <head>
	  
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125578647-1"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());
  		gtag('config', 'UA-125578647-1');
	</script>
	  
	  
    	<title>Radio Tutor{{ .title }}</title>
	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	  


  </head>
	
<body>
   
	<div class="header jumbotron text-center" style="margin-bottom:0">
		<h1>RadioTutor</h1>
		<p>Your Journey from Zero to MØ</p> 
	</div>
	
	<style>
	.header {
	background-image: url("https://cdn.rawgit.com/pe5er/e6c88db0dfe3e5bc45d7488707f83c55/raw/b0395de9e65269c2508a714e59085c03ecab326c/banner.svg");
	background-size: cover;}
	</style>

    <!--Embed the menu.html template at this location-->
    {{ template "menu.html" . }}
