<!--header.html-->

<!doctype html>
<html lang="en">
  <head>
	  
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125578647-1"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());
  		gtag('config', 'UA-125578647-1');
	</script>
	  
	  
    	<title>Radio Tutor - amateur radio cources and exams</title>
	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
{{ if .Description }}
<meta name="description" content="{{ .Description }}">
{{ else }}
<meta name="description" content="Radio Tutor offers free mock exams and courses for all 3 of the UK amateur licence exams">
<meta name="keywords" content="amateur radio,full licence,foundation licence,intermediate licence,radio licence,radio exams,radio exam,radio exam help,tutoring,radio,radios">
{{ end }}
	  
	<link rel="shortcut icon" href="https://i.imgur.com/pA4pnuq.png" />

  </head>
	
<body>
        <a href="/" style="text-decoration: none">
	<div class="header jumbotron text-center" style="margin-bottom:0">
	<div class="sitetitle"><h1>RadioTutor</h1></div>
	<div class="sitesub"><p>Your Journey from Zero to MØ</p></div>
	</div>
	</a>
	
	<style>
	.header {
	background-image: url("https://cdn.rawgit.com/pe5er/e6c88db0dfe3e5bc45d7488707f83c55/raw/b0395de9e65269c2508a714e59085c03ecab326c/banner.svg");
	background-size: cover;
   	border-radius: 0 !important;
	}
	
	.sitetitle {
	   -webkit-text-stroke: 2px black;
	   color: white;
	}
	
	.sitesub {
	   -webkit-text-stroke: 1px black;
	   color: white;
	}
	
	.header h1 {
		   font-size: 400%;
	}	
	
	.header p {
		   font-size: 250%;
	}	

	</style>

    <!--Embed the menu.html template at this location-->
    {{ template "menu.html" . }}
