<!--menu.html-->
<!-- template responsible for the navbar and not a lot else -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<a class="navbar-brand" href="/">Home</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	<span class="navbar-toggler-icon"></span>
	</button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">

    <ul class="navbar-nav">
		<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="/l/courses" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Courses</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="/l/M6/course">Foundation</a>
				<a class="dropdown-item" href="/l/2E0/course">Intermediate</a>
				<a class="dropdown-item" href="/l/M0/course">Advanced</a>
			</div>
		</li>
	  
	  	<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="/t/tests" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mock Tests</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="/l/M6/exam">Foundation</a>
				<a class="dropdown-item" href="/l/2E0/exam">Intermediate</a>
				<a class="dropdown-item" href="/l/M0/exam">Advanced</a>
			</div>
		</li>
	  
	    <li class="nav-item"><a class="nav-link" href="/news">News</a></li>
	  {{ if .is_logged_in }}
		<li class="nav-item"><a class="nav-link" href="/u/progress">My Progress</a></li>
	  {{end}} 
		<li class="nav-item"><a class="nav-link" href="/faq">FAQ</a></li>
		<li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
    </ul>
	  
	<ul class="nav navbar-nav ml-auto justify-content-end">
	  {{ if not .is_logged_in }}
        <li class="nav-item"><a class="nav-link" href="/u/register">Register</a></li>
      {{end}} 
      {{ if not .is_logged_in }}
        <li class="nav-item"><a class="nav-link" href="/u/login">Login</a></li>
      {{end}} 
      {{ if .is_logged_in }}
        <li class="nav-item"><a class="nav-link" href="/u/logout">Logout</a></li>
      {{end}}
    </ul>
  </div>
</nav>
