
	<h2>Latest Updates from RadioTutor</h2><br>
	
	<h3>Questions with Images</h3>
	<p>I'm pleased to announce that image based quetsions are now fixed. Wheras before there was no image for these questions,
	now there should be an easy to read vector image for these questions. Check out our foundation and intermediate quizzes if 
	you'd like to see these new images.</p>
	<p>Peter Barnes<br>MØSWN<br></p>
	
	<h3>New Courses</h3>
	<p>Hello all, we have started to write brand new courses for RadioTutor! At first we will be focusing on the Foundation licence,
	followed by Intermediate and then Advanced. Hopefully over the coming months you should see lots of content filling up the courses,
	including videos and quizzes. Until then, we are providing links to resources provided by other organisations </p>
	<p>Peter Barnes<br>MØSWN<br></p>
	
	<h3>New Site</h3>
	<p>Welcome to RadioTutor, a new site to help you study for your UK Foundation, Intermediate and Advanced exams.
	This website has been made possible by the authors of <a href="hamtests.co.uk">hamtests.co.uk</a>, who generously provided their pool of questions
	for use on this site. We are currently still actively developing this site, so please be patient as changes and updates roll out. 
	Please feel free to <a href="/contact">get in touch</a> with the team if you have any suggestions or comments about RadioTutor</p>
	<p>Peter Barnes<br>MØSWN<br></p>
