<!--question.html-->


{{ template "header.html" .}}

<div class="container" style="margin-top:30px">

	<div class="row clearfix">
	</div>

	<div class="col-md-1 column">
	</div>

	<div class="col-md-10 column">
	
	<p class="lead">{{.Current}}/{{.NumQ}}</p>
	
    <div class="progress">
    </div>
	
    <div class="panel panel-primary">
	
      <div class="panel-heading"><h3 class="panel-title">{{.Question}}</h3></div>
	  <form method="POST">
    <input type="hidden" name="type" value="question" />
      <div class="panel-body form-group">
				<div class="custom-control custom-radio">
  				<input type="radio" value="0" id="answer0" name="answer" class="custom-control-input">
  				<label class="custom-control-label" for="answer0">{{.Answer1}}</label>
				</div>
				<div class="custom-control custom-radio">
	 				<input type="radio" value="1" id="answer1" name="answer" class="custom-control-input">
  				<label class="custom-control-label" for="answer1">{{.Answer2}}</label>
				</div>
				<div class="custom-control custom-radio">
  				<input type="radio" value="2" id="answer2" name="answer" class="custom-control-input">
  				<label class="custom-control-label" for="answer2">{{.Answer3}}</label>
				</div>
				<div class="custom-control custom-radio">
  				<input type="radio" value="3" id="answer3" name="answer" class="custom-control-input">
  				<label class="custom-control-label" for="answer3">{{.Answer4}}</label>
				</div>
      </div>
    </div>

<button class="btn btn-primary" type="submit" name="nav" value="previous">Previous</button>
	  <button class="btn btn-primary" type="submit" name="nav" value="exit">Exit</button>
	  <button class="btn btn-primary" type="submit" name="nav" value="next">Next</button>
	</div>
	
</div>


<br><br>
    
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
