<!--question.html-->


{{ template "header.html" .}}
{{ $current := .State.Current }}
{{ $sub := .State.Sub }}

<div class="container" style="margin-top:30px">

	<div class="row clearfix">
	</div>

	<div class="col-md-1 column">
	</div>

	<div class="col-md-10 column">
	
	<p class="lead">{{inc .State.Current}}/{{.State.Length}}</p>
	
    <div class="progress">
    </div>
	
    <div class="panel panel-primary">
	
      <div class="panel-heading"><h3 class="panel-title">{{(index .State.Quiz $current).Question}}</h3></div>
	  <form method="POST">
    <input type="hidden" name="type" value="question" />
      <div class="panel-body form-group">
{{ range $i, $ans := (index .State.Quiz .State.Current).Answers }}
				<div class="custom-control custom-radio">
  				<input type="radio" value="{{$i}}" id="answer{{$i}}"{{/*
          */}} {{if eq $i (index $sub $current)}} checked {{end}} {{/*
          */}} name="answer" class="custom-control-input">
  				<label class="custom-control-label" for="answer{{$i}}">{{ $ans.Answer}}</label>
				</div>
{{end}}
      </div>
    </div>

{{if ne $current 0 }}
    <button class="btn btn-primary" type="submit" name="nav" value="previous">Previous</button>
{{end}}
	  <button class="btn btn-primary" type="submit" name="nav" value="exit">Exit</button>
{{if eq (inc $current) .State.Length}}
	  <button class="btn btn-primary" type="submit" name="nav" value="next">Submit</button>
{{else}}
	  <button class="btn btn-primary" type="submit" name="nav" value="next">Next</button>
{{end}}
	</div>
	
</div>


<br><br>
    
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
